.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.btn {
  color: white;
  flex: 1 0 21%;
  width: 100px;
  height: 250px;

  &.rounded {
    background: $secondary;
    width: 100px;
    height: 250px;
    margin-bottom: 1em;
    @include button-border(0);
    border-radius: 20px;
  }

  &.rounded-pink {
    background: white;
    width: 100px;
    height: 250px;
    margin-bottom: 1em;
    @include button-border-pink(0);
    border-radius: 20px;
  }

  &.rounded-bg-pink {
    background: #c32c72;
    width: 100px;
    height: 250px;
    margin-bottom: 1em;
    @include button-border(0);
    border-radius: 20px;
  }

  &.rounded-white {
    background: #f4f3ee;
    width: 100px;
    height: 250px;
    margin-bottom: 1em;
    @include button-border(0);
    border-radius: 20px;
  }
}
