.navbar {
  font-size: 20px;
}

.navbar-brand {
  font-size: 36px;
}

.nav-link {
  color: #8d8d8d !important;
}

nav a:hover {
  color: #c32c72 !important;
}

.active-bg {
  color: #c32c72 !important;
}
